/* UTILIDADES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%; /* 1 Rem = 10px */
    line-height: 1.8;
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container {
    flex: 1;
}

img {
    max-width: 100%;
    display: block;
}

/* NAV */


.nav-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000000;
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.logo-nexio {
    width: 200px;
}

.lista-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.6rem;
}

.lista-links li {
    list-style-type: none;
    margin: 10px 10px;
}

.lista-links li a {
    text-decoration: none;
    color: black;
}

.lista-links li a:hover {
    border-bottom: 1px solid black;
}

.nav-user {
    margin-right: 2rem;
    cursor: pointer;
}

.bi-cart3,
.bi-person-circle,
.bi-list  {
    border: 1 solid black;
    font-size: 3rem;
    margin-left: 2rem;
}

.bi-list {
    display: none;
}



@media (max-width: 768px){

    .bi-cart3,
    .bi-person-circle {
        display: none;
    }

    .lista-links {
        display: none;
        position: fixed;
        flex-direction: column;
        top: 67px;
        left: 0;
        width: 100vw;
        height: 30vh;
        text-align: center;
        color: black;
        background-color: white;
        z-index: 1000;
        align-items: center;
    }

    .lista-links li {
        margin: 15px 0;
    }

    .bi-list{
        display: flex;
    }

    .lista-links.show {
        display: flex;
    }

    .lista-links.show li a {
        color: black;
        text-decoration: none; 
    }

    .lista-links.show li a:hover {
        color: darkgray; /* Cambia a un color diferente al pasar el mouse */
    }
}

/* FORMULARIO */

.form-section {
    margin: 0 auto;
    margin-top: 10rem;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding:5rem;
    gap: 15px;
    font-size: 1.6rem;
}

.form-email,
.mensaje-form,
.form-nombre {
    display: flex;
    flex-direction: column;
}

.label-nombre,
.label-email,
.label-form {
    margin-bottom: 1rem;
}

textarea {
    height: 150px;
    width: 100%;
    resize: none;
}


.btn{
    font-size: 2rem;
    margin-top: 1rem;
}

/* FOOTER */

footer {
    margin-top: 10rem;
    background-color: #1D1D1D;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.text-footer {
    text-align: center;
    color: white;
}

.text-footer2 {
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

.email-link {
    text-decoration: none;
    color: inherit;
}


/* Media Querys */


@media (max-width: 430px){

    form {
        border: none;
        justify-content: center;
    }

    .lista-links,
    .bi-person-circle {
        display: none;
    }

    .bi-list {
        display: block;
        font-size: 5rem;
    }
}
