/* UTILIDADES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%; /* 1 Rem = 10px */
}

img {
    max-width: 100%;
    display: block;
}

/* NAVBAR */

.navbar-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
}

.logo-nexio {
    width: 200px;
}

.lista-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.5rem;
}

.lista-links li {
    list-style-type: none;
    margin: 10px 10px;
}

.lista-links li a {
    text-decoration: none;
    color: black;
}

.lista-links li a:hover {
    border-bottom: 1px solid black;
}

.carrito-img {
    margin-right: 2rem;
    cursor: pointer;

}

.bi-cart3 {
    border: 1 solid black;
    font-size: 3rem;
}


/* HEADER */

.header-container {
    height: 10rem;
}

.hero:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}

.hero {
    background-image: url(../assets/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 80rem;
}

.texto-hero {
    position: absolute;
    top: 70%;
    margin-left: 2rem;
    text-shadow: 1px 1px 2px black;
}


.titulo-hero {
    color: white;
    font-weight: bold;
    font-size: 7rem;
}

.slogan-hero {
    color: white;
    font-weight: bold;
    font-size: 5rem;
}
