/* UTILIDADES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%; /* 1 Rem = 10px */
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
}

img {
    max-width: 100%;
    display: block;
}

/* NAV */

.nav-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.logo-nexio {
    width: 200px;
}

.lista-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.6rem;
}

.lista-links li {
    list-style-type: none;
    margin: 10px 10px;
}

.lista-links li a {
    text-decoration: none;
    color: black;
}

.lista-links li a:hover {
    border-bottom: 1px solid black;
}

.carrito-img {
    margin-right: 2rem;
    cursor: pointer;

}

.bi-cart3 {
    border: 1 solid black;
    font-size: 3rem;
}


/* HEADER */

.header-container {
    height: 10rem;
}

.hero:before {
	content:'';
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
    position: absolute;
}

.hero {
    background-image: url(../assets/header1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80rem;
    position: relative;
}

.texto-hero {
    position: absolute;
    top: 70%;
    margin-left: 2rem;
    text-shadow: 1px 1px 2px black;
}


.titulo-hero {
    color: white;
    font-weight: bold;
    font-size: 7rem;
}

.slogan-hero {
    color: white;
    font-weight: bold;
    font-size: 5rem;
}

/* MAIN */

.main-container {
    position: relative;
    margin-top: 75rem;
}

#title-main {
    color: black;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

hr { 
 border: 0;
 border-top-width: 0px;
 border-top-style: none;
 border-top-color: currentcolor;
 border-top: 1px solid;
 border-top: var(--bs-border-width) solid;
 color: inherit;
 margin: 1rem 0;
 opacity: .25;
}

.lista-productos {
    margin: 0 auto;
    margin-top: 8rem;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6rem;
}

/* CARD */

.card {
    padding: 15px;
}
